body {
  background-color:  #7ec850;
}

main {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: white;
  font-family: sans-serif; Arial;
}

#board{
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 800px;
  height: 800px;
}

li {
  list-style-type: none;
  width: 198px;
  height: 198px;
  border: 0px solid #000;
  float:left;
  color: #fff;
}

.zombie { background-image: url(../img/zombie1.png);
   background-repeat:no-repeat;


}
.grave { background: #7ec850;}
.human  { background-image: url(../img/human1.png);
   background-repeat:no-repeat;
